<p><%= @user.name %>様</p>
<p>===============================================</p>

<% if @user.google_uid.present? %>
  <p>パスワードリセットのご依頼をいただきましたが、こちらのアカウントはGoogle認証で登録されています。</p>
  <p>Google認証で登録されたアカウントは、パスワードリセットはできません。</p>
  <p>ログインの際は「Googleでログイン」ボタンをご利用ください。</p>
<% else %>
  <p>パスワード再発行のご依頼を受け付けました。</p>
  <p>こちらのリンクからパスワードの再発行を行ってください。</p>
  <p><a href="<%= @url %>">パスワードをリセットする</a></p>
  <p>このリンクは24時間有効です。</p>
<% end %>

<p>※ ご心当たりがない場合は、このメールを無視してください。</p>