@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cafe";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #fdfcfb;
  --color-base-200: #f6f1ea;
  --color-base-300: #eee5d9;
  --color-base-content: #645647;
  --color-primary: #6f9169;
  --color-primary-content: #fdfcfb;
  --color-secondary: #887367;
  --color-secondary-content: #fdfcfb;
  --color-accent: #c0848c;
  --color-accent-content: #fdfcfb;
  --color-neutral: #b3a69e;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #72a0a9;
  --color-info-content: #fdfcfb;
  --color-success: #91ad6a;
  --color-success-content: #fdfcfb;
  --color-warning: #c4863a;
  --color-warning-content: #fdfcfb;
  --color-error: #bf695c;
  --color-error-content: #fdfcfb;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --text-2xl: 1.35rem;
  --text-3xl: 1.6rem;
  --text-4xl: 1.85rem;
  --text-5xl: 2.10rem;
}

:root:has(input.theme-controller[value="cafe"]:checked),
[data-theme="cafe"] {
  color-scheme: light;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1;
}

body {
  background-color: #f6f1ea;
  font-family: var(--font-family);
  line-height: 1.6rem;
  overflow-y: scroll;
}

h1 {
  font-family: Josefin Sans;
  font-size: 3.6rem;
  font-weight: 500;
  font-style: italic;
  color: #6f9169;
  line-height: 3.8rem;
  margin-top: 1.2rem;
}

h2{
  font-size: 1.0rem;
  font-weight: bold;
  margin-top: 2.0rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }
}